/* Color */
a:link,
a:visited,
a:hover,
.entry-title a:hover,
#sidebar .widget a:hover { color:#618323; }

/* Background */
.nav li a:hover,
.nav li.first a,
.nav .current_page_item a,
.rsDefault .rsTab:active .rsTmb span,
.rsDefault .rsTab.rsNavSelected .rsTmb span {
	background: #618323;
}
